.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.btn {
  width: 150px;
  background-color: #606c38;
  border: none;
  outline: none;
  height: 49px;
  border-radius: 49px;
  color: #fff;
  cursor: pointer;
  transition: 0.2s;
}

.btn:hover {
  background-color: #8a8e5e;
}

@media (max-width: 870px) {
  .btn.transparent {
    width: 110px;
    height: 35px;
    font-size: 1.7rem;
  }
}
