<!-- feedback.component.html -->
<div class="comment-section">
  <div class="eight book-heading">
    <h1>FEEDBACKS</h1>
  </div>
  <div class="comments-wrp">
    <!-- Loop through feedback list -->
    <div class="comment-wrp" *ngFor="let feedback of feedbacks">
      <div class="comment container">
        <div class="c-controls" *ngIf="feedback.ownFeedback">
          <span *ngIf="feedback.isOwnerOfBook" class="material-symbols-outlined control-icon" (click)="delete()">delete</span>
        </div>
        <div class="c-user">
          <p class="usr-name">{{ feedback.userName }}</p>
          <p class="cmnt-at">{{ feedback.creationDate }}</p>
        </div>
        <div class="comment-rating">
          <span class="rating-star" *ngFor="let star of getStars(feedback.note)">★</span>
          <span class="rating-star" *ngFor="let star of getEmptyStars(feedback.note)">☆</span>
        </div>  
        <p class="c-text">
          <span class="c-body">{{ feedback.comment }}</span>
        </p>
      </div>
    </div>
  </div>

  <!-- Reply Input -->
  <div class="reply-input">
    <div class="rating-input">
      <span 
        *ngFor="let star of stars; let i = index" 
        class="rating-star" 
        [class.selected]="i < currentRating"
        (click)="setRating(i + 1)"
      >
        ☆
      </span>
    </div>
    <textarea class="cmnt-input" (input)="onCommentChange($event)" placeholder="Add a comment..."></textarea>
    <button class="bu-primary" (click)="postComment()">SEND</button>
  </div>
</div>
