.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; 
}

.btn {
  width: 150px;
  background-color: #5995fd;
  border: none;
  outline: none;
  height: 49px;
  border-radius: 49px;
  color: #fff;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.2s;
}

.btn:hover {
  background-color: #4d84e2;
}

@media (max-width: 870px) {
  .btn.transparent {
    width: 110px;
    height: 35px;
    font-size: 1.7rem;
  }
}
