.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Space between items */
  padding: 10px;
  max-width: 100%;
  box-sizing: border-box; /* Ensure padding is included in width */
  overflow-x: hidden; /* Prevent horizontal overflow */
  justify-content: center;
}

/* Default for mobile devices - 2 cards per row */
.card {
  flex: 1 1 calc(50% - 20px); /* Two cards per row, considering gap */
  min-width: 200px;
  max-width: calc(
    50% - 20px
  ); /* Ensure the card does not exceed half of the container width */
  box-sizing: border-box; /* Include padding and border in the width */
  padding-top: 5px;
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background-color: #fff;
  align-items: center;
  border-radius: 10px;
}

.cover-photo {
  border-radius: 10px;
  height: 260px;
  width: 190px; /* Fixed size */
  object-fit: cover; /* Maintain aspect ratio */
}

.card-content {
  padding: 10px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center; /* Center text content */
}

.card-title {
  font-size: 1.2em;
  margin: 0;
}

.card-author {
  color: #555;
  font-style: italic;
  margin: 5px 0;
}

.card-description {
  font-size: 0.9em;
  color: #666;
  margin-top: 10px;
}

@media (min-width: 320px) and (max-width: 760px) {
  .cover-photo {
    height: 200px;
    width: 150px;
    object-fit: fill;
  }
  .card {
    min-width: 160px;
    max-height: 280px;
  }
  .card-author {
    font-size: 0.5rem;
  }

  .card-title {
    font-size: 1rem;
  }
}

/* Tablets and smaller desktops - 3 cards per row */
@media (min-width: 768px) {
  .card {
    flex: 1 1 calc(33.333% - 20px); /* Three cards per row */
    max-width: calc(
      33.333% - 20px
    ); /* Ensure the card does not exceed a third of the container width */
  }
}

/* Larger desktops - 4 cards per row */
@media (min-width: 1024px) {
  .card {
    flex: 1 1 calc(25% - 20px); /* Four cards per row */
    max-width: calc(
      25% - 20px
    ); /* Ensure the card does not exceed a quarter of the container width */
  }
}

/* Very large desktops - up to 7 cards per row, adjust if needed */
@media (min-width: 1440px) {
  .card {
    flex: 1 1 calc(14.285% - 20px); /* Up to seven cards per row */
    max-width: calc(
      14.285% - 20px
    ); /* Ensure the card does not exceed about 1/7th of the container width */
  }
}
